
@import "./imports/normalize";
@import "./imports/variables";

* {
  box-sizing: border-box;
}

body {
  margin : 0;
  font-family: sans-serif;
}

/* General Styles */

.btn{
  padding: 15px 10px;
  background: #cccccc;
}

.btn--success{
  background: $color--success;
  color: #fff;
}

.btn--error{
  background: $color--error;
  color: #fff;
}



#app-container{
  background-size: cover;
  position: relative;
  padding-bottom: 75px;
}

.nav{
  background: #333;
  color: #fff;
  text-align: right;
}

.nav__option{
  display: inline-block;
  padding: 20px;
}

.header{
  background: url('../images/spaced-out.jpg') center center no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .header__title{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 200;
    font-size: 42px;
  }

  .header__btn{
  }

.search-box{
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

  .search-box__input{
    display: inline-block;
    font-size: 18px;
    padding: 15px;
    margin: 0;
    border: 0;
    background: #fff;
  }

  .search-box__btn {
    margin: 0;
    margin-left: -2px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0 ;
    color: #666666;
    text-align: center;
  }

  .search-box__icon{
  }

  .search-box__text{
  }

.options-group{
  padding: 15px 0;
  display: flex;
}

  .options-group__single{
    width: 50%;
    text-align: center;
  }

  .options-group__icon{
    width: 140px;
    height: 140px;
    line-height: 135px;
    margin: 0 auto;

    border: 4px solid #333;
    border-radius: 50%;
    text-align: center;
    display: block;
  }
@media screen and (max-width: $desktop-screen){
  .nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100%;
  }
  .search-box__icon{
  font-size: 0;
  }
  .options-group{
    display: flex;
    flex-wrap: wrap;
  }
  .options-group__single{
    width: 33%;
  }
}
@media screen and (max-width: $tablet-screen){
  .nav{
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 5%;
  flex-direction: row;
   }
   .search-box__icon{
     font-size: 24px;
   }
   .search-box__text{
     font-size: 0;
   }
   .options-group__single{
     width: 50%;
   }
   .header__btn-options{
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-top: 0;
   }
   .btn--error{
     width: 160px;
     margin-top: 13px;
   }
   .btn--success{
     width: 130px;
     margin: auto;
   }
  .header__title{
    margin-top: 200px;
  }
}
